:root {
  --azul: #0071b7;
  --blanco: #fff;
  --naranja: #ff4f1e;
}
html {
  font-size: 62.5%; /** 1REM = 10pX **/
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--azul);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

h1,
h2 {
  color: var(--blanco);
  text-align: center;
  margin: 5rem 0;
  padding: 1rem;
}
.caja-curso {
  background-color: var(--naranja);
  text-align: center;
  color: var(--blanco);
  padding: 5rem;
}
.caja-curso h1 {
  margin: 0;
}
.caja-curso p {
  font-size: 2.4rem;
}
.caja-curso a {
  font-size: 2.4rem;
  padding: 2rem;
  display: inline-block;
  text-decoration: none;
  color: var(--blanco);
  padding: 0;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.box {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 1rem solid #bb2b03;
}

.contenedor > div {
  background-color: var(--blanco);
  padding: 5rem;
}

/* 1 */
.d-flex {
  display: flex;
}

/* flex tiene por defecto un flex-direction row */
.d-flex-2 {
  display: flex;
  flex-direction: column;
}

/* Sirve para alinear horizontalmente */
.d-flex-3 {
  display: flex;
  justify-content: space-between;
}

/* Sirve para alinear verticalmente */
.d-flex-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 800px;
}

/* Sirve para alinear de arriba hacia abajo */
.d-flex-5 {
  display: flex;
  height: 600px;
  align-items: center;
}

/* Cuando flex direction es columna mueves los items horizontalmente con align items, y
para moverlos de arriba hacia abajo con justify content */
.d-flex-6 {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
  justify-content: center;
}

.d-flex-7 {
  display: flex;
  height: 800px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

/* flex basic se usa en el hijo no en el padre */
.d-flex-8 {
  display: flex;
  justify-content: center;
}

/* 200px es el valor inicial funciona como un width,
pero respeta si es el contenido necesita mas espacio */
.d-flex-8 .box {
  flex-basis: 200px;
}

.d-flex-9 {
  display: flex;
  gap: 2rem; /* Esta es la nueva forma para hacer layouts nuevos, tener en cuenta que apenas entro en soporte */
  /* justify-content: space-between; para generar separacion entre los hijos */
}

.d-flex-9 .box {
  /* flex-basis: calc(33.3% - 1rem); Esta es la antigua forma de hacer layouts */
  flex-basis: 33.3%;
}

.d-flex-10 {
  display: flex;
  /* El valor principal es nowrap */
  flex-wrap: wrap;
}

.d-flex-10 .box {
  flex-basis: 33.3%;
}

.d-flex-11 {
  display: flex;
}

.d-flex-11 .box:nth-child(1) {
  /* Es un factor de crecimiento, repartiendo de manera equitativa a nuestros hijos */
  flex-grow: 2;
}

.d-flex-11 .box:nth-child(2),
.d-flex-11 .box:nth-child(3) {
  flex-grow: 1;
}

.d-flex-12 {
  display: flex;
}

.d-flex-12 .box {
  flex-grow: 1;
  flex-basis: 300px;
}

.d-flex-12 .box:nth-child(3) {
  flex-shrink: 2;
}

.d-flex-13 {
  display: flex;
}

.d-flex-13 .box {
  flex: 1; /* factor de crecimiento corto, tiene los 3 grow, shrink, basic */
}
